
<div>

	<div class="panel-primary" >

		<div class="panel-heading">
			<div class="row">
				<h3>
				<div class="col-md-6 text-uppercase">
					О программе
				</div></h3>
			</div>
		</div>
		<div class="panel-body">

				<div class="col-md-2" >
					<i class="fa fa-question fa-large warning"></i> 
					</div> 
					<div class="col-md-10 text-left " >
						
						<h1>SPA: Angular JS + Spring</h1>
						<h2>Angular JS 1.5:</h2>
						<ul>
							<li>использован ngResource</li>
							<li>использован  uiRouter</li>
							<li>использован  Angular Bootstrap</li>
							<li>использован  Angular Bootstrap UI</li>
							<li>разработан notifyService для MsgBox</li>
							<li>разработана директива в notifyService</li>
							<li>компонент для CRUD-операций</li>
							<li>фильтр товаров по наимненованию</li>
							<li>локализация валюты</li>
							<li>сортировка</li>
						</ul>
						<h2>Spring</h2>
						<ul>
							<li>класс для обработки ошибок JSON</li>
							<li>константы ошибок вынесены в отдельный класс</li>
							<li>обработка маршрутизации Angular - stateProvider при обновлении страницы <br>
								(stateProvider может быть использован в дальнейшем для авторизации в отличии от обычного провайдера) </li>

						</ul>
						</div> 
		</div>
	</div>
</div>